@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome</h2>
    <p>Do you want to <a href="https://www.laboremus.ug/">connect with Laboremus Uganda?</a>.</p>
</div>
